.container{
    background-color:white;
    display: grid;
    width: 100%;
    height:auto;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    ". pic pic pic explain explain"
    " gal gal gal gal gal gal "
    ". . . ft ft .";
}

.footer{
    grid-area: ft;
    display: grid;
    width:50vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "site site site";
}